@import "./variables.scss";

@mixin title_text_first {
    animation: first 1s cubic-bezier(.46,1.29,.83,1);
    color: transparent;
	animation-fill-mode: forwards;
}
@mixin title_text_second {
    animation: second 1s cubic-bezier(.46,1.29,.83,1);
    color: transparent;
	animation-fill-mode: forwards;
}
@mixin title_text_third {
    animation: third 1s cubic-bezier(.46,1.29,.83,1);
    color: transparent;
	animation-fill-mode: forwards;
}

@keyframes first {
	0% {
		position: relative;
		top: -400px;
	} 100% {
		position: relative;
		top: 0px;
		color: white;
	}
}
@keyframes second {
	0% {
		position: relative;
		left: -500px;
	} 100% {
		position: relative;
		left: 0px;
		color: white;
	}
}

@keyframes third {
	0% {
		position: relative;
		right: -500px;
	} 100% {
		position: relative;
		right: 0px;
		color: white;
	}
}

@mixin letter {
    animation: color 0.3s;
    animation-fill-mode: forwards;
}

@keyframes color {
	0% {
		color: transparent;
	} 100% {
		color: white;
	}
}

@mixin logo_indoor {
	animation: rotateIndoor infinite 30s linear;
	position: absolute;
	left: 14%;
	z-index: 2;
}

@mixin logo_outdoor {
	animation: rotateOutdoor infinite 30s linear;
	position: relative;
	top: 60%;
	left: 14%;
	z-index: 2;
}

@keyframes rotateIndoor {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateOutdoor {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@mixin title {
	position: relative;
	top: 60%;
	color: $colorPrimary;
	text-align: center;
	z-index: 2;
	font-family: 'Cormorant Garamond', serif;
	font-size: 46px;
}

@mixin animation_first_bloc_aboutMe {
	animation: first_bloc 1s linear;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

@mixin avatar {
	opacity: 0;
	animation: first_bloc 1s linear;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

@mixin animation_second_bloc_aboutMe {
	animation: first_bloc 1s linear;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@mixin animation_third_bloc_aboutMe {
	animation: first_bloc 1s linear;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}

@mixin property_bloc_aboutMe {
	position: relative;
	z-index: 2;
	color: transparent;
	font-size: 18px;
	text-align: center;
	font-family: $policePrimary;
}
@keyframes first_bloc {
	0% {
		color: transparent;
	} 100% {
		opacity: 1;
		color: $colorPrimary;
	}
}

@mixin banniere_logo {
	animation: logo 10s infinite linear;
	animation-delay: 3.5s;
	opacity: 0;
	position: relative;
	z-index: 2;
	width: 55px;
}

@keyframes logo {
	0% {
		opacity: 1;
		transform: translateX(-85px);
	}50%{
		opacity: 1;
		transform: translateX(85px);
	}  100% {
		opacity: 1;
		transform: translateX(-85px);
	}
}

@mixin animation_bloc_projects {
	animation: first_projects 1s linear;
	animation-delay: 1.5s;
    color: transparent;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes first_projects {
	0% {
		color: transparent;
	} 100% {
		opacity: 1;
		color: $colorSecondary;
	}
}

@mixin first_bloc_projects {
	animation: slideLeftProjects 1s ease;
	animation-delay: 1.5s;
	opacity: 0;
	animation-fill-mode: forwards;
}

@mixin second_bloc_projects {
	animation: slideTopProjects 1s ease;
	animation-delay: 2s;
	opacity: 0;
	animation-fill-mode: forwards;
}

@mixin third_bloc_projects {
	animation: slideRightProjects 1s ease;
	animation-delay: 2.5s;
	opacity: 0;
	animation-fill-mode: forwards;
}

@keyframes slideLeftProjects {
	0% {
		opacity: 0.5;
		position: relative;
		left: -500px;
	} 100% {
		opacity: 1;
		position: relative;
		left: 0px;
	}
}
@keyframes slideRightProjects {
	0% {
		opacity: 0.5;
		position: relative;
		right: -100px;
	} 100% {
		opacity: 1;
		position: relative;
		right: 0px;
	}
}
@keyframes slideTopProjects {
	0% {
		opacity: 0.5;
		position: relative;
		top: -400px;
	} 100% {
		opacity: 1;
		position: relative;
		top: 170px;
	}
}

@mixin animationButton {
	animation: button 6s ease-out infinite;
	animation-delay: 2s;
	&:hover {
		animation-play-state: paused;
	}
}

@keyframes button {
	0% {
		top: 120px;
	} 25% {
		top: 95px;
	} 50% {
		top: 120px;
	} 75% {
		top: 145px;
	} 100% {
		top: 120px;
	}
}

@mixin animation_contact {
	animation: bloc_contact 1.5s ease-out;
	animation-delay: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
}

@keyframes bloc_contact {
	0% {
		opacity: 0;
		margin-left: -400px;
	} 100% {
		opacity: 1;
		margin-left: 175px;
		z-index: 2;
	}
}


@mixin spinner {
	animation: spinner_red 2.5s ease-out;
	opacity: 1;
	animation-fill-mode: forwards;
}
@keyframes spinner_red {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
		opacity: 0;
	}
}

@mixin blocHeader {
	animation: opacityBloc 3s ease-out;
}

@keyframes opacityBloc {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}