@-webkit-keyframes first {
  0% {
    position: relative;
    top: -400px;
  }
  100% {
    position: relative;
    top: 0px;
    color: white;
  }
}

@keyframes first {
  0% {
    position: relative;
    top: -400px;
  }
  100% {
    position: relative;
    top: 0px;
    color: white;
  }
}

@-webkit-keyframes second {
  0% {
    position: relative;
    left: -1400px;
  }
  100% {
    position: relative;
    left: 0px;
    color: white;
  }
}

@keyframes second {
  0% {
    position: relative;
    left: -1400px;
  }
  100% {
    position: relative;
    left: 0px;
    color: white;
  }
}

@-webkit-keyframes third {
  0% {
    position: relative;
    right: -1400px;
  }
  100% {
    position: relative;
    right: 0px;
    color: white;
  }
}

@keyframes third {
  0% {
    position: relative;
    right: -1400px;
  }
  100% {
    position: relative;
    right: 0px;
    color: white;
  }
}

@-webkit-keyframes color {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@keyframes color {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes rotateIndoor {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateIndoor {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateOutdoor {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotateOutdoor {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes first_bloc {
  0% {
    color: transparent;
  }
  100% {
    opacity: 1;
    color: white;
  }
}

@keyframes first_bloc {
  0% {
    color: transparent;
  }
  100% {
    opacity: 1;
    color: white;
  }
}

@-webkit-keyframes logo {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-85px);
            transform: translateX(-85px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(85px);
            transform: translateX(85px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-85px);
            transform: translateX(-85px);
  }
}

@keyframes logo {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-85px);
            transform: translateX(-85px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(85px);
            transform: translateX(85px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-85px);
            transform: translateX(-85px);
  }
}

@-webkit-keyframes first_projects {
  0% {
    color: transparent;
  }
  100% {
    opacity: 1;
    color: black;
  }
}

@keyframes first_projects {
  0% {
    color: transparent;
  }
  100% {
    opacity: 1;
    color: black;
  }
}

@-webkit-keyframes slideBottom {
  0% {
    opacity: 0.5;
    position: relative;
    right: -400px;
  }
  100% {
    opacity: 1;
    position: relative;
    right: 0px;
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0.5;
    position: relative;
    right: -400px;
  }
  100% {
    opacity: 1;
    position: relative;
    right: 0px;
  }
}
/*# sourceMappingURL=mixins.css.map */