@-webkit-keyframes first {
  0% {
    position: relative;
    top: -400px;
  }
  100% {
    position: relative;
    top: 0px;
    color: white;
  }
}

@keyframes first {
  0% {
    position: relative;
    top: -400px;
  }
  100% {
    position: relative;
    top: 0px;
    color: white;
  }
}

@-webkit-keyframes second {
  0% {
    position: relative;
    left: -500px;
  }
  100% {
    position: relative;
    left: 0px;
    color: white;
  }
}

@keyframes second {
  0% {
    position: relative;
    left: -500px;
  }
  100% {
    position: relative;
    left: 0px;
    color: white;
  }
}

@-webkit-keyframes third {
  0% {
    position: relative;
    right: -500px;
  }
  100% {
    position: relative;
    right: 0px;
    color: white;
  }
}

@keyframes third {
  0% {
    position: relative;
    right: -500px;
  }
  100% {
    position: relative;
    right: 0px;
    color: white;
  }
}

@-webkit-keyframes color {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@keyframes color {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

/*@mixin logo_outdoor_width {
	animation: rotateWidth 2s ease-out;
	width: 0px;
}*/
@-webkit-keyframes rotateIndoor {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateIndoor {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*@keyframes rotateWidth {
	from {
		width: 0px;
	} to {
		width: 250px;
	}
}*/
@-webkit-keyframes rotateOutdoor {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotateOutdoor {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes first_bloc {
  0% {
    color: transparent;
  }
  100% {
    opacity: 1;
    color: black;
  }
}

@keyframes first_bloc {
  0% {
    color: transparent;
  }
  100% {
    opacity: 1;
    color: black;
  }
}

@-webkit-keyframes logo {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-85px);
            transform: translateX(-85px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(85px);
            transform: translateX(85px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-85px);
            transform: translateX(-85px);
  }
}

@keyframes logo {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-85px);
            transform: translateX(-85px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(85px);
            transform: translateX(85px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-85px);
            transform: translateX(-85px);
  }
}

@-webkit-keyframes first_projects {
  0% {
    color: transparent;
  }
  100% {
    opacity: 1;
    color: black;
  }
}

@keyframes first_projects {
  0% {
    color: transparent;
  }
  100% {
    opacity: 1;
    color: black;
  }
}

@-webkit-keyframes slideLeftProjects {
  0% {
    opacity: 0.5;
    position: relative;
    left: -500px;
  }
  100% {
    opacity: 1;
    position: relative;
    left: 0px;
  }
}

@keyframes slideLeftProjects {
  0% {
    opacity: 0.5;
    position: relative;
    left: -500px;
  }
  100% {
    opacity: 1;
    position: relative;
    left: 0px;
  }
}

@-webkit-keyframes slideRightProjects {
  0% {
    opacity: 0.5;
    position: relative;
    right: -100px;
  }
  100% {
    opacity: 1;
    position: relative;
    right: 0px;
  }
}

@keyframes slideRightProjects {
  0% {
    opacity: 0.5;
    position: relative;
    right: -100px;
  }
  100% {
    opacity: 1;
    position: relative;
    right: 0px;
  }
}

@-webkit-keyframes slideTopProjects {
  0% {
    opacity: 0.5;
    position: relative;
    top: -400px;
  }
  100% {
    opacity: 1;
    position: relative;
    top: 170px;
  }
}

@keyframes slideTopProjects {
  0% {
    opacity: 0.5;
    position: relative;
    top: -400px;
  }
  100% {
    opacity: 1;
    position: relative;
    top: 170px;
  }
}

@-webkit-keyframes button {
  0% {
    top: 120px;
  }
  25% {
    top: 95px;
  }
  50% {
    top: 120px;
  }
  75% {
    top: 145px;
  }
  100% {
    top: 120px;
  }
}

@keyframes button {
  0% {
    top: 120px;
  }
  25% {
    top: 95px;
  }
  50% {
    top: 120px;
  }
  75% {
    top: 145px;
  }
  100% {
    top: 120px;
  }
}

@-webkit-keyframes bloc_contact {
  0% {
    opacity: 0;
    margin-left: -400px;
  }
  100% {
    opacity: 1;
    margin-left: 175px;
    z-index: 2;
  }
}

@keyframes bloc_contact {
  0% {
    opacity: 0;
    margin-left: -400px;
  }
  100% {
    opacity: 1;
    margin-left: 175px;
    z-index: 2;
  }
}

@-webkit-keyframes spinner_red {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spinner_red {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes opacityBloc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityBloc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes titleHomePage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes titleHomePage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* -------- REGLAGES GENERAUX ----------- */
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

h2 {
  color: black;
}

#picture_background_responsive {
  display: none;
}

/* -------- INDEX.HTML ----------- */
#logo_outdoor {
  -webkit-animation: rotateOutdoor infinite 30s linear;
          animation: rotateOutdoor infinite 30s linear;
  position: relative;
  top: 60%;
  left: 14%;
  z-index: 2;
  width: 250px;
  top: 32%;
}

#logo_outdoor_aboutMe {
  -webkit-animation: rotateOutdoor infinite 30s linear;
          animation: rotateOutdoor infinite 30s linear;
  position: relative;
  top: 60%;
  left: 14%;
  z-index: 2;
  left: 14%;
  width: 150px;
}

#logo_indoor {
  -webkit-animation: rotateIndoor infinite 30s linear;
          animation: rotateIndoor infinite 30s linear;
  position: absolute;
  left: 14%;
  z-index: 2;
  top: 9%;
  width: 252px;
}

#logo_indoor_aboutMe {
  -webkit-animation: rotateIndoor infinite 30s linear;
          animation: rotateIndoor infinite 30s linear;
  position: absolute;
  left: 14%;
  z-index: 2;
  left: 14%;
  top: 10%;
  width: 157px;
}

#spinner {
  width: 10%;
  height: auto;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  -webkit-animation: spinner_red 2.5s ease-out;
          animation: spinner_red 2.5s ease-out;
  opacity: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#picture_background {
  width: 90%;
  margin-left: auto;
  -webkit-animation: opacityBloc 3s ease-out;
          animation: opacityBloc 3s ease-out;
}

#bloc_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bloc_header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px;
  padding: 0px 12px;
  border-right: 2px solid white;
  text-align: center;
  background-color: #1c2b32;
  font-family: 'Lora', serif;
  width: 100%;
}

#bloc_menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  width: 10%;
}

.menu_inside {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

#bloc_logo_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#title_homepage {
  position: relative;
  top: 60%;
  color: white;
  text-align: center;
  z-index: 2;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 46px;
  left: 17%;
}

#bloc_text {
  position: relative;
  top: 32%;
  left: 12%;
  font-size: 30px;
  text-align: center;
  color: transparent;
  z-index: 2;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  width: 40%;
}

#bloc_image {
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  min-height: 100%;
}

/*---- ANIMATION---- */
#home,
#aboutMe,
#projects,
#contact {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#home:hover,
#aboutMe:hover,
#projects:hover,
#contact:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 2px 2px 12px white;
}

#letter1 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#letter2 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

#letter3 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

#letter4 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter5 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter6 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter7 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter8 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter9 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter10 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter11 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter12 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter13 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter14 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter15 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter16 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter17 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter18 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter19 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter20 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter21 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter22 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter23 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 5.2s;
          animation-delay: 5.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter24 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 5.3s;
          animation-delay: 5.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter25 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter26 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter27 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 5.6s;
          animation-delay: 5.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter28 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 5.7s;
          animation-delay: 5.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter29 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 5.8s;
          animation-delay: 5.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter30 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 5.9s;
          animation-delay: 5.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter31 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter32 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 6.1s;
          animation-delay: 6.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter33 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 6.2s;
          animation-delay: 6.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter34 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter35 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 6.4s;
          animation-delay: 6.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter36 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter37 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 6.6s;
          animation-delay: 6.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter38 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 6.7s;
          animation-delay: 6.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter39 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 6.8s;
          animation-delay: 6.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter40 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 6.9s;
          animation-delay: 6.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter41 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter42 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 7.1s;
          animation-delay: 7.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter43 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 7.2s;
          animation-delay: 7.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter44 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 7.3s;
          animation-delay: 7.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter45 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 7.4s;
          animation-delay: 7.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter46 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter47 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 7.6s;
          animation-delay: 7.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter48 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 7.7s;
          animation-delay: 7.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter49 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter50 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 7.9s;
          animation-delay: 7.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter51 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter52 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 8.1s;
          animation-delay: 8.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter53 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 8.2s;
          animation-delay: 8.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter54 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 8.3s;
          animation-delay: 8.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter55 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 8.4s;
          animation-delay: 8.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter56 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter57 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 8.6s;
          animation-delay: 8.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter58 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 8.7s;
          animation-delay: 8.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter59 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 8.8s;
          animation-delay: 8.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter60 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 8.9s;
          animation-delay: 8.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter61 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter62 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 9.1s;
          animation-delay: 9.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter63 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 9.2s;
          animation-delay: 9.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter64 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 9.3s;
          animation-delay: 9.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter65 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 9.4s;
          animation-delay: 9.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter66 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 9.5s;
          animation-delay: 9.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter67 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 9.6s;
          animation-delay: 9.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter68 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 9.7s;
          animation-delay: 9.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter69 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 9.8s;
          animation-delay: 9.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter70 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 9.9s;
          animation-delay: 9.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter71 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter72 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10.1s;
          animation-delay: 10.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter73 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10.2s;
          animation-delay: 10.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter74 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10.3s;
          animation-delay: 10.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter75 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10.4s;
          animation-delay: 10.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter76 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10.5s;
          animation-delay: 10.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter77 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10.6s;
          animation-delay: 10.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter78 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10.6s;
          animation-delay: 10.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter79 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10.7s;
          animation-delay: 10.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter80 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10.8s;
          animation-delay: 10.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter81 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 10.9s;
          animation-delay: 10.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter82 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter83 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 11.1s;
          animation-delay: 11.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter84 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 11.2s;
          animation-delay: 11.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter85 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 11.3s;
          animation-delay: 11.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter86 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 11.4s;
          animation-delay: 11.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter87 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 11.5s;
          animation-delay: 11.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter88 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 11.6s;
          animation-delay: 11.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter89 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 11.7s;
          animation-delay: 11.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter90 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 11.8s;
          animation-delay: 11.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter91 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 11.9s;
          animation-delay: 11.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter92 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter93 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 12.1s;
          animation-delay: 12.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter94 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 12.2s;
          animation-delay: 12.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter95 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 12.3s;
          animation-delay: 12.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter96 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 12.4s;
          animation-delay: 12.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter97 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 12.5s;
          animation-delay: 12.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter98 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 12.6s;
          animation-delay: 12.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter99 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 12.7s;
          animation-delay: 12.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter100 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 12.8s;
          animation-delay: 12.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter101 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 12.9s;
          animation-delay: 12.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter102 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter103 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 13.1s;
          animation-delay: 13.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter104 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 13.2s;
          animation-delay: 13.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter105 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 13.3s;
          animation-delay: 13.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter106 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 13.4s;
          animation-delay: 13.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter107 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 13.5s;
          animation-delay: 13.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter108 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 13.6s;
          animation-delay: 13.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter109 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 13.7s;
          animation-delay: 13.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter110 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 13.8s;
          animation-delay: 13.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter111 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 13.9s;
          animation-delay: 13.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter112 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter113 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 14.1s;
          animation-delay: 14.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter114 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 14.2s;
          animation-delay: 14.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter115 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 14.3s;
          animation-delay: 14.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter116 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 14.4s;
          animation-delay: 14.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#letter117 {
  -webkit-animation: color 0.3s;
          animation: color 0.3s;
  -webkit-animation-delay: 14.5s;
          animation-delay: 14.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* -------- ABOUTME.HTML ----------- */
#title_aboutMe {
  position: relative;
  top: 60%;
  color: white;
  text-align: center;
  z-index: 2;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 46px;
  left: 16%;
  text-decoration: underline;
  color: black;
}

#first_bloc {
  -webkit-animation: first_bloc 1s linear;
          animation: first_bloc 1s linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
  z-index: 2;
  color: transparent;
  font-size: 21px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  width: 75%;
  top: -40px;
  left: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.underline {
  text-decoration: underline;
}

.bloc_text_aboutMe {
  width: 55%;
  font-size: 21px;
}

#bloc_image_aboutMe {
  position: relative;
  z-index: 2;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  top: -75px;
}

.avatar_first_bloc {
  width: 145px;
  height: auto;
  margin-left: auto;
  border-radius: 100px;
  border: 1px solid #761810;
  opacity: 0;
  -webkit-animation: first_bloc 1s linear;
          animation: first_bloc 1s linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#second_bloc {
  -webkit-animation: first_bloc 1s linear;
          animation: first_bloc 1s linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
  z-index: 2;
  color: transparent;
  font-size: 21px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  top: -0px;
  left: 15%;
  width: 35%;
}

#third_bloc {
  -webkit-animation: first_bloc 1s linear;
          animation: first_bloc 1s linear;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
  z-index: 2;
  color: transparent;
  font-size: 21px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  top: -70px;
  left: 18%;
  width: 30%;
}

#bloc_competences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  margin-left: 10%;
  position: absolute;
  bottom: 0px;
}

.bloc_competence {
  -webkit-animation: logo 10s infinite linear;
          animation: logo 10s infinite linear;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  opacity: 0;
  position: relative;
  z-index: 2;
  height: 60px;
}

/* -------- PROJECTS.HTML ----------- */
#title_projects {
  position: relative;
  top: 60%;
  color: white;
  text-align: center;
  z-index: 2;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 46px;
  left: 16%;
  color: black;
  text-decoration: underline;
}

#bloc_projects {
  -webkit-animation: first_projects 1s linear;
          animation: first_projects 1s linear;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  color: transparent;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  z-index: 2;
  color: black;
  top: 150px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}

.link_projects {
  -webkit-animation: first_projects 1s linear;
          animation: first_projects 1s linear;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  color: transparent;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  color: black;
  text-decoration: underline;
}

#all_bloc_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: black;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
}

h2 {
  text-decoration: underline;
  font-family: "Lora", serif;
}

#first_bloc_projects {
  z-index: 2;
  position: relative;
  top: 170px;
  -webkit-animation: slideLeftProjects 1s ease;
          animation: slideLeftProjects 1s ease;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

#first_bloc_projects:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

#second_bloc_projects {
  z-index: 2;
  position: relative;
  top: 170px;
  -webkit-animation: slideTopProjects 1s ease;
          animation: slideTopProjects 1s ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

#second_bloc_projects:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

#third_bloc_projects {
  z-index: 2;
  position: relative;
  top: 170px;
  -webkit-animation: slideRightProjects 1s ease;
          animation: slideRightProjects 1s ease;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

#third_bloc_projects:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/* -------- CONTACT.HTML ----------- */
#title_contact {
  position: relative;
  top: 60%;
  color: white;
  text-align: center;
  z-index: 2;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 46px;
  color: black;
  left: 16%;
  text-decoration: underline;
}

button {
  -webkit-animation: button 6s ease-out infinite;
          animation: button 6s ease-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  position: relative;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  width: 20%;
  left: 72%;
  top: 120px;
  border-radius: 15px;
  padding: 3px 0px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}

button:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

button #button {
  color: black;
}

button:hover {
  background-color: #1c2b32;
  -webkit-box-shadow: 2px 2px 12px white;
          box-shadow: 2px 2px 12px white;
}

button:hover #button {
  color: white;
}

#bloc_phone_email_local {
  -webkit-animation: bloc_contact 1.5s ease-out;
          animation: bloc_contact 1.5s ease-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 29%;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 175px;
  position: relative;
  top: 150px;
}

#bloc_phone,
#bloc_email,
#bloc_local {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid white;
  padding: 0px 20px 20px 0px;
  margin: 20px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bloc_text_phone,
#bloc_text_email,
#bloc_text_local {
  color: black;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

.color_title_contact {
  color: black;
}

.icone_contact {
  font-size: 4em;
  padding-left: 10px;
}
/*# sourceMappingURL=style.css.map */