/*---------------------------------------- INDEX.HTML --------------------------------------*/

@media screen and (max-width: 1150px){
    #bloc_menu {
        position: absolute;
        display: flex;
        width: 100%;
        align-items: baseline;
        top: 0;
    }
    #menu {
        border-right: none;
    }
    .menu_inside {
        padding: 10px 0px;
    }
    #picture_background {
        width: 100%;
    }
    #logo_outdoor {
        top: 85%;
        left: 5%;
    }
    #logo_indoor {
        top: 25.5%;
        left: 5%;
    }
    #bloc_text {
        top: 50%;
        left: 3%;
    }
    #title_homepage {
        width: 50%;
    }   
}
@media screen and (max-width: 990px){
    #logo_outdoor,
    #logo_indoor {
        display: none;
    }
    #title_homepage {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        left: 0;
        top: 90%;
        font-size: 1.8em;
    }
    #bloc_text {
        font-size: 1.6em;
        top: 40%;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #picture_background {
        display: none;
    }
    #picture_background_responsive {
        display: inherit;
        width: 100%;
        height: auto;
    }
}